*resharper.user
[Dd]ebug
[Rr]elease
[Bb]in
[Oo]bj
deploy
deploy/*
build
artifacts
src/CommonAssemblyInfo.cs
*.suo
*.cache
_ReSharper.*/
*[Rr]e[Ss]harper*
*.user
.git/
*.pidb
src/packages
results
.bottle-alias
fubu-content
repositories.config
missing.locale.config
chromedriver.log
bottles.cmd
storyteller.cmd
run_st.cmd
fubu.cmd
/logs
Gemfile.lock

